node_modules/
*.log
logs/
public/dist/
package-lock.json
*.7z
*.zip
*.njsproj
*.db
*.sql
*.bak
server/plugins/datatypes/*.d.ts
server/plugins/datatypes/*.js.map
server/plugins/datatypes/errors.js
server/plugins/dataaccessor/*.d.ts
server/plugins/dataaccessor/*.js.map
server/plugins/dataaccessor/dataaccessor.js
server/plugins/dataaccessor/mysqldatabase.js
server/plugins/dataaccessor/datainterfaces.js
server/plugins/dataaccessor/sqlitedatabase.js
server/plugins/dataaccessor/*-exporter.js
server/plugins/login/*.d.ts
server/plugins/login/*.js.map
server/plugins/login/userlogin.js
server/plugins/login/*-exporter.js
server/plugins/express/*.d.ts
server/plugins/express/*.js.map
server/plugins/express/expresser.js
server/plugins/express/*-exporter.js
server/routes/*.d.ts
server/routes/*.js.map
server/routes/user-error-to-status.js
test/*.spec.d.ts
test/*.spec.js.map
test/common.spec.js
test/dataaccessor.spec.js
test/mysqldatabase.spec.js
test/utils.spec.js
