doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='icon' href="/imgs/favicon.png" type='image/png')
  body
    block content
    script(src="/dist/bundle.js")
