doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='icon' href="/imgs/favicon.png" type='image/png')
    style.
      body {font-size: 12px; user-select: none}
      .blue {
        background-color: #a3daff;
      }
      .red {
        background-color: #ffc9c9;
      }
      .yellow {
        background-color: #ffec99;
      }
  body
    block content
    script(src="/dist/bundle.js")
